@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #28bf96;
    --primary-color-dark: #209677;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
    --line-gray: #000;
    --yellow: #ffc107;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(10deg, #000000, #3533cd);
    
}
strong {
    color: var(--yellow);
    font-weight: bold;

}

.heading{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 5px;
    /*flex-direction: row;
    padding: 2rem 1rem;
    justify-content: center;
    gap: 1rem;*/
}
.nav__links2{
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
}
.logo-container{
    display: flex;
    gap: 10px;
}
.logo img {
    height: 80px;
    width: 90px;
}
hr{
    border:none;
    border-top: 2px solid #606060;
    margin: 20px ;

}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    


}
.container1 h2{
    color: var(--yellow);        
    font-size: 48px;      
    text-align: center; 
}

.container2{
    max-width: 1000vh;
    /* margin-left: 0; */
    padding: 2rem 1rem;
    /* max-height: fit-content; */
    min-height: fit-content;
    display: flex;
    /* flex-direction: column; */
    
}
.heading2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;

}

.heading4{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 40px;
    color: goldenrod;
}
.heading4 p{
    font-weight: 700;
    font-size: 30px;
    margin-left:15px ;
    text-align: center;
    color: black;
}
.heading4 acc{
    color: goldenrod;
}
/* nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
} */
.logo{
    font-size: 1.5rem;
}

.nav__logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.link a:hover{
    color: var(--primary-color);
}

/* .header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    margin: 10;
} */

/* .content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
}

.content h1 span {
    font-weight: 400;
} */
.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
     
    margin-left: 20px;
}

.subThemes{
    display: flex;
    flex-direction: column;
    align-items: center;  
}


.content {
    flex: 1;
    max-width: 100%;
}



.content p {
    /* margin-bottom: 2rem; */
    color: var(--white);
    line-height: 1.75rem;
    text-align: justify;
}
.unorderedList1 {
    flex: 1;
    max-width: 40%;
}

.core {
    font-weight: bold;  /* Makes the text bold */
    color: black;         /* Change this to any color you want */
    font-size: 20px;    /* Change this to the desired font size */
}
.container3{
    max-width: 1000vh;
    margin: 25px;
    padding: 10px;
    /* max-height: fit-content; */
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px; */

}

.content2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px; 
    margin-left: 10px;
    max-width: fit-content;
}

ul{
    padding: 0;
    margin: 5px;
    list-style-position: inside;
    color: var(--white); 
    font-size: 16px;
    
}
ul li {
    margin-left: 0;
    padding: 5px 0; 
}

.image {
    position: relative;
    text-align: center;
    isolation: isolate;
}


.image__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300;
    width: 50px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
}

.image img {
    width: 100%;
    max-width: 800px;
}

.image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.image__content__1 {
    transform: translate(calc(-50% -12rem), calc(-50% -8rem));
}

.image__content__1 span {
    padding: 10px 12px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: #defcf4;
    border-radius: 100%;
}

.image__content__1 h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.image__content__1 p{
    color: var(--text-light);
}

.image__content__2{
    transform: translate(calc(-50% + 8rem), calc(-50% +10rem));
}

.image__content__2 ul{
    list-style: none;
    display: grid;
    gap: 1rem;
}

.image__content__2 li{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--text-light);
}

.image__content__2 span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

@media (width < 900px) {
    .nav__links{
        display: none;
    }
    .header{
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);

    }
    
    .content{
        text-align: center;
    }

    .image{
        grid-area: 1/1/2/2;
    }
}